= form_for @board do |f|
  - if @board.errors.any?
    #error_explanation
      %h2= "#{pluralize(@board.errors.count, "error")} prohibited this board from being saved:"
      %ul
        - @board.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :owner
    = text_field_tag :owner, @player.name, disabled: true
  .field
    = label_tag :opponent
    = select_tag :opponent_id, options_from_collection_for_select( @opponents, :id, :name )
  .field
    = label_tag :side
    = select_tag :side, options_for_select( [ :orf, :wulf ] )

  .actions
    = f.submit 'Save'
