#board
  = image_tag 'board_cut_transformed.png'
  %svg{ width: 1285, height: 1026, id: 'svg_overmap' }

%div
  = label_tag 'river_R', 'R'
  = radio_button_tag 'river', 'R', true

  = label_tag 'river_S', 'S'
  = radio_button_tag 'river', 'S'

  = label_tag 'river_T', 'T'
  = radio_button_tag 'river', 'T'

#hex_info
