#board
  = image_tag 'board_cut_small.jpg'

#fight_info
  #attack_amount
  #defence_amount
  #ratio
  #attacking_units

= hidden_field_tag :player_id, @player.id
= hidden_field_tag :board_id, @board.id
= hidden_field_tag :side, @side
= hidden_field_tag :opponent, @opponent

= hidden_field_tag :pawns, @pawns

= hidden_field_tag 'map', @json_map
= hidden_field_tag 'movement_hash', @json_movement_graph