%h1 Listing boards

%table
  %thead
    %tr
      %th Owner
      %th Orf
      %th Wulf
      %th Turn
      %th History

  %tbody
    - @boards.each do |board|
      %tr
        %td= board.owner.name
        %td= board.orf.name
        %td= board.wulf.name
        %td= board.turn
        %td= current_action_link( board )
        %td= link_to 'History', board_history_path( board )

%br

= link_to 'New Board', new_board_path