%h1 Listing boards

%table
  %thead
    %tr
      %th Owner
      %th Opponent
      %th Turn
      %th

  %tbody
    - @boards.each do |board|
      %tr
        %td= board.owner.name
        %td= board.opponent.name
        %td= board.turn
        %td= link_to 'setup', player_board_setup_path( @player, board )


%br

= link_to 'New Board', new_player_board_path( @player.id )