= link_to 'Finish turn', board_phase_finished_path( @board )

%div
  = label_tag 'action_move', 'Mouvement'
  = radio_button_tag 'action', 'move', true

  = label_tag 'action_combat', 'Combat'
  = radio_button_tag 'action', 'combat', true

= render partial: 'boards/show_map'

#turn_pawn.pawn{ style: turn_pawn_position }
