#board
  = image_tag 'board_cut_small.jpg'

#pawn_type_selection
  = radio_button_tag 'unit_type', 'inf', :checked => true
  = label 'unit_type_inf', 'Infantry'
  = radio_button_tag 'unit_type', 'cav'
  = label 'unit_type_inf', 'Cavalry'
  = radio_button_tag 'unit_type', 'art'
  = label 'unit_type_inf', 'Artillery'

#orf_infantery_1.pawn_template{ mov: 3 }
  = image_tag 'orf_infantery'

#orf_infantery_2.pawn_template{ mov: 3 }
  = image_tag 'orf_infantery'

#orf_cavalry_1.pawn_template{ mov: 6 }
  = image_tag 'orf_cavalry'

#orf_artillery_1.pawn_template{ mov: 3 }
  = image_tag 'orf_artillery'

= hidden_field_tag :player_id, @player.id
= hidden_field_tag :board_id, @board.id
= hidden_field_tag :pawns, @pawns
= hidden_field_tag 'map', @json_map
= hidden_field_tag 'movement_hash', @json_movement_graph

= hidden_field_tag 'pawns_counts', @pawns_counts
