= render partial: 'show_map'

#orf_infantery_1.pawn_template{ mov: 3 }
  = image_tag 'orf_infantery'

#orf_infantery_2.pawn_template{ mov: 3 }
  = image_tag 'orf_infantery'

#orf_cavalry_1.pawn_template{ mov: 6 }
  = image_tag 'orf_cavalry'

#orf_artillery_1.pawn_template{ mov: 3 }
  = image_tag 'orf_artillery'

= hidden_field_tag :pawns, @pawns
= hidden_field_tag :player_id, @player.id
= hidden_field_tag :board_id, @board.id