!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CoffhexDev
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body

    #menu-area
      -#= link_to 'Game', '/'
      = link_to 'Full Map', edit_map_full_hex_map_path
      = link_to 'Hex Centers', edit_map_full_hex_map_path( show_centers: true )
      = link_to 'Edit Map', edit_map_edit_hexes_path( color: 'p' )
      = link_to 'Edit Roads', edit_map_edit_top_layer_path( layer: 'roads' )
      = link_to 'Edit Rivers', edit_map_edit_top_layer_path( layer: 'rivers' )

    #board-area
      = yield
